<header>
    <h1>{{title}}</h1>
    <a  class="nav-link" href="/">Welcome page</a>
    <a  class="nav-link" href="/login">Log in</a>
    <a  class="nav-link" href="/signup">Sign up</a>
    <a  class="nav-link" href="/notes">To Do list</a>
</header>